.menu {
  width: 35%;
  margin-top: 25px;
  display: flex;
}

.search-main {
  width: 300px;
}

.input {
  margin-top: 16px;
  margin-bottom: 16px;
}
.input > h3 {
  height: 21px;
  font-family: Poppins;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #b9bdcf;
}
.radio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  cursor: pointer;
  width: 139px;
  height: 44px;
  border: 2px solid #1d355d;
  box-sizing: border-box;
  border-radius: 12px;
  margin-bottom: 10px;
}
@media screen and (max-width: 980px) {
  .radio {
    width: 100%;
    flex-direction: row;
    justify-content: space-betwee;
  }
  button{
    margin: 5px;
  }
}
