.product {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    width: 77%;
    background-color: aliceblue;
    border-radius: 20px;
    margin-bottom: 15px;
}
