.search {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 65%;
background: whitesmoke;
border-radius: 30px;
box-shadow: 0 0 2em #505959;
padding: 30px;
}
