.App {
  width: 90%;
  height: 100%;
  margin: auto;
}
.main {
  display: flex;
  margin-top: 64px;
}

@media screen and (max-width: 980px) {
  .main {
    display: block;
    margin-top: 0px;
  }
}
.sub {
  width: 122px;
  height: 40px;
  color: #ffffff;
  background: #f9a826;
  border-radius: 12px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
